fastapi==0.115.6
uvicorn==0.34.0
python-dotenv==1.0.1
requests==2.32.3
playwright==1.48.0
beautifulsoup4==4.12.3
duckduckgo-search==6.3.5
sentence-transformers==3.3.0
aiofiles==24.1.0
python-multipart==0.0.20
ollama==0.3.6
aiohttp==3.11.11
pillow==11.0.0
streamlit==1.32.2
PyPDF2==3.0.1